* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #480ca8;
}

.contaiiner {
  width: 82%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

section {
  margin-top: 6rem;
}
section > h2 {
  text-align: center;
}
section > p {
  text-align: center;
  width: 45%;
  margin: 0.6rem auto 2.5rem;
}

.btn {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  background: #f72585;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvYWJzdHJhY3RzL19jb25maWcuc2NzcyIsInN0eWxlLmNzcyIsIi4uL3Njc3MvYWJzdHJhY3RzL19nZW5lcmFsLnNjc3MiLCIuLi9zY3NzL2Fic3RyYWN0cy9fbWl4aW5zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxTQUFBO0VBQ0EsVUFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0VBQ0EsZ0JBQUE7RUFDQSxxQkFBQTtFQUNBLHNCQUFBO0FDQ0Y7O0FEYUE7RUFDRSx5QkFaYztBQ0VoQjs7QUNUQTtFQUNFLFVGY2E7RUViYixjQUFBO0FEWUY7O0FDVEE7RUFDRSxjQUFBO0VBQ0EsV0FBQTtBRFlGOztBQ1RBOzs7Ozs7RUFNRSxnQkFBQTtBRFlGOztBQ1RBO0VBQ0UsZ0JBQUE7QURZRjtBQ1ZFO0VBQ0Usa0JBQUE7QURZSjtBQ1RFO0VBQ0Usa0JBQUE7RUFDQSxVQUFBO0VBQ0EsMEJBQUE7QURXSjs7QUNQQTtFQzlCRSxxQkFBQTtFQUNBLHVCQUFBO0VBQUEsa0JBQUE7RUFDQSxxQkFBQTtFQUNBLHFCQUFBO0VBQ0EsbUJIRWdCO0VHRGhCLGNIRVk7RUdEWixlQUFBO0VBQ0EsMEJBQUE7QUZ5Q0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */