* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: rgba(12, 3, 27, 0.7);
  background: rgba(76, 201, 240, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  width: 82%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

section {
  margin-top: 6rem;
}
section > h2 {
  text-align: center;
}
section > p {
  text-align: center;
  width: 42%;
  margin: 0.6rem auto 2.5rem;
}

.btn {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  background: #f72585;
  color: #fff;
  cursor: pointer;
  transition: all 400ms ease;
}
.btn:hover {
  background: rgb(248.4442477876, 76.3557522124, 155.0247787611);
  box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, 0.15);
}

.btn-primary {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  background: #480ca8;
  color: #fff;
  cursor: pointer;
  transition: all 400ms ease;
}
.btn-primary:hover {
  background: rgb(88.32, 14.72, 206.08);
  box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, 0.15);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  section > p {
    width: 55%;
  }
}
@media screen and (max-width: 600px) {
  section > p {
    width: 90%;
  }
}
nav {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #fff;
}
nav h1,
nav h2,
nav h3,
nav h4,
nav h5 {
  color: #fff;
}
nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  z-index: 10;
  display: grid;
  place-items: center;
  box-shadow: 0 1rem 1rem rgba(12, 3, 27, 0.1);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}
nav .container button {
  display: none;
}
nav .container a {
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
}
nav .container .nav__logo h3 {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  nav .container button {
    display: inline-block;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
  nav .container button#close__nav-btn {
    display: none;
  }
  nav .container ul {
    position: fixed;
    top: 5rem;
    right: 5%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    display: none;
    perspective: 300px;
  }
  nav .container ul li {
    width: 100%;
    opacity: 0;
    animation: flipNavItem 300ms ease forwards;
    transform-origin: top;
  }
  nav .container ul li:nth-child(2) {
    animation-delay: 200ms;
  }
  nav .container ul li:nth-child(3) {
    animation-delay: 400ms;
  }
  nav .container ul li:nth-child(4) {
    animation-delay: 600ms;
  }
  nav .container ul li:nth-child(5) {
    animation-delay: 800ms;
  }
  @keyframes flipNavItem {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  nav .container ul li a {
    color: #fff;
    height: 100%;
    display: block;
    padding: 1.5rem 2rem;
    border-radius: 0;
    background: linear-gradient(#4cc9f0, rgb(19.7010309278, 183.8762886598, 235.0989690722));
  }
  nav .container ul li a.btn {
    background: #f72585;
  }
}
header {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #fff;
}
header h1,
header h2,
header h3,
header h4,
header h5 {
  color: #fff;
}
header {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}
header .container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 46% 46%;
  gap: 8%;
  align-items: center;
  justify-content: space-between;
}
header .container .header__content h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -3px;
  font-weight: 300;
}
header .container .header__content p {
  margin: 1rem 0 2rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 60vh;
  }
  header .container {
    gap: 1rem;
  }
  header .container .header__content h1 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 3rem;
  }
  header .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  header .container p {
    margin: 0.8rem 0 1.5rem;
    line-height: 1.4;
  }
}
#services .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#services .container article {
  background: linear-gradient(135deg, #480ca8, #4cc9f0);
  color: #fff;
}
#services .container article h1,
#services .container article h2,
#services .container article h3,
#services .container article h4,
#services .container article h5 {
  color: #fff;
}
#services .container article {
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.5rem;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 400ms ease;
}
#services .container article:hover {
  margin-top: -0.5rem;
}
#services .container article i {
  font-size: 1.7rem;
}
#services .container article div h4 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  #services .container {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  #services .container article {
    padding: 1.2rem;
    gap: 0.8rem;
  }
  #services .container article:hover {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  #services .container {
    grid-template-columns: 1fr;
  }
  #services .container article div h4 {
    margin-bottom: 0.8rem;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvYWJzdHJhY3RzL19jb25maWcuc2NzcyIsInN0eWxlLmNzcyIsIi4uL3Njc3MvYWJzdHJhY3RzL19nZW5lcmFsLnNjc3MiLCIuLi9zY3NzL2Fic3RyYWN0cy9fbWl4aW5zLnNjc3MiLCIuLi9zY3NzL2Fic3RyYWN0cy9fbmF2LnNjc3MiLCIuLi9zY3NzL2Fic3RyYWN0cy9faGVhZGVyLnNjc3MiLCIuLi9zY3NzL2Fic3RyYWN0cy9fc2VydmljZXMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLFNBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSxnQkFBQTtFQUNBLHFCQUFBO0VBQ0Esc0JBQUE7QUNDRjs7QUNMQTtFQUNFLHVCQUFBO0FEUUY7O0FDTEE7RUFDRSxxQ0FBQTtFQUNBLGdCQUFBO0VBQ0EsMkJGTVc7RUVMWCxtQ0FBQTtFQUNBLHlCQUFBO0tBQUEsc0JBQUE7VUFBQSxpQkFBQTtBRFFGOztBQ0xBO0VBQ0UsVUZFYTtFRURiLGNBQUE7QURRRjs7QUNMQTtFQUNFLGNBQUE7RUFDQSxXQUFBO0FEUUY7O0FDTEE7Ozs7OztFQU1FLGdCQUFBO0FEUUY7O0FDTEE7RUFDRSxnQkFBQTtBRFFGO0FDTkU7RUFDRSxrQkFBQTtBRFFKO0FDTEU7RUFDRSxrQkFBQTtFQUNBLFVBQUE7RUFDQSwwQkFBQTtBRE9KOztBQ0hBO0VDekNFLHFCQUFBO0VBQ0EsdUJBQUE7RUFBQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSxtQkhDZ0I7RUdBaEIsV0hDWTtFR0FaLGVBQUE7RUFDQSwwQkFBQTtBRmdERjtBRTlDRTtFQUNFLDhEQUFBO0VBQ0EsK0NBQUE7QUZnREo7O0FDZEE7RUM3Q0UscUJBQUE7RUFDQSx1QkFBQTtFQUFBLGtCQUFBO0VBQ0EscUJBQUE7RUFDQSxxQkFBQTtFQUNBLG1CSERjO0VHRWQsV0hDWTtFR0FaLGVBQUE7RUFDQSwwQkFBQTtBRitERjtBRTdERTtFQUNFLHFDQUFBO0VBQ0EsK0NBQUE7QUYrREo7O0FDeEJBO0VBQ0U7SUFDRSxVRnhDVztFQ21FYjtFQ3ZCRTtJQUNFLFVBQUE7RUR5Qko7QUFDRjtBQ3BCQTtFQUVJO0lBQ0UsVUZ0RFM7RUMyRWI7QUFDRjtBRzNGQTtFRG1CRSxxREFBQTtFQUtBLFdIZlk7QUNzRmQ7QUVyRUU7Ozs7O0VBS0UsV0h0QlU7QUM2RmQ7QUd0R0E7RUFFRSxZQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7RUFDQSxXQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsNENBQUE7QUh1R0Y7QUdyR0U7RUFDRSxhQUFBO0VBQ0EsOEJBQUE7RUFDQSxtQkFBQTtBSHVHSjtBR3JHSTtFQUNFLGFBQUE7RUFDQSxTQUFBO0VBQ0EsbUJBQUE7QUh1R047QUduR0k7RUFDRSxhQUFBO0FIcUdOO0FHbEdJO0VBQ0UsV0psQlE7RUltQlIsZ0JBQUE7RUFDQSxpQkFBQTtBSG9HTjtBR2pHSTtFQUNFLFdKeEJRO0FDMkhkOztBRzdGQTtFQUdNO0lBQ0UscUJBQUE7SUFDQSx1QkFBQTtJQUNBLFdKcENNO0lJcUNOLGVBQUE7SUFDQSxlQUFBO0VIOEZOO0VHNUZNO0lBQ0UsYUFBQTtFSDhGUjtFRzFGSTtJQUNFLGVBQUE7SUFDQSxTQUFBO0lBQ0EsU0FBQTtJQUNBLHNCQUFBO0lBQ0EsdUJBQUE7SUFDQSxNQUFBO0lBQ0EsYUFBQTtJQUNBLGtCQUFBO0VINEZOO0VHMUZNO0lBQ0UsV0FBQTtJQUNBLFVBQUE7SUFDQSwwQ0FBQTtJQUNBLHFCQUFBO0VINEZSO0VHMUZRO0lBQ0Usc0JBQUE7RUg0RlY7RUd6RlE7SUFDRSxzQkFBQTtFSDJGVjtFR3hGUTtJQUNFLHNCQUFBO0VIMEZWO0VHdkZRO0lBQ0Usc0JBQUE7RUh5RlY7RUd0RlE7SUFDRTtNQUNFLHlCQUFBO0lId0ZWO0lHdEZRO01BQ0Usd0JBQUE7TUFDQSxVQUFBO0lId0ZWO0VBQ0Y7RUdyRlE7SUFDRSxXSnhGRTtJSXlGRixZQUFBO0lBQ0EsY0FBQTtJQUNBLG9CQUFBO0lBQ0EsZ0JBQUE7SUFDQSx3RkFBQTtFSHVGVjtFR2xGVTtJQUNFLG1CSnBHSTtFQ3dMaEI7QUFDRjtBSWxNQTtFRm9CRSxxREFBQTtFQUtBLFdIZlk7QUM0TGQ7QUUzS0U7Ozs7O0VBS0UsV0h0QlU7QUNtTWQ7QUk3TUE7RUFFRSxhQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsZ0JBQUE7QUo4TUY7QUk1TUU7RUFDRSxnQkFBQTtFQUNBLGFBQUE7RUFDQSw4QkFBQTtFQUNBLE9BQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBO0FKOE1KO0FJM01NO0VBQ0UsaUJBQUE7RUFDQSxnQkFBQTtFQUNBLG9CQUFBO0VBQ0EsZ0JBQUE7QUo2TVI7QUkxTU07RUFDRSxtQkFBQTtFQUNBLCtCTGRNO0VLZU4saUJBQUE7QUo0TVI7O0FJck1BO0VBQ0U7SUFDRSxZQUFBO0VKd01GO0VJdE1FO0lBQ0UsU0FBQTtFSndNSjtFSXRNTTtJQUNFLGlCQUFBO0VKd01SO0FBQ0Y7QUlsTUE7RUFDRTtJQUNFLGFBQUE7SUFDQSxpQkFBQTtFSm9NRjtFSWxNRTtJQUNFLDBCQUFBO0lBQ0Esa0JBQUE7RUpvTUo7RUlsTUk7SUFDRSx1QkFBQTtJQUNBLGdCQUFBO0VKb01OO0FBQ0Y7QUtoUUU7RUFDRSxhQUFBO0VBQ0EscUNBQUE7RUFDQSxTQUFBO0FMa1FKO0FLaFFJO0VIZUYscURBQUE7RUFLQSxXSGZZO0FDK1BkO0FFOU9FOzs7OztFQUtFLFdIdEJVO0FDc1FkO0FLM1FJO0VBRUUsZUFBQTtFQUNBLG1CQUFBO0VBQ0EsYUFBQTtFQUNBLFdBQUE7RUFDQSx3QkFBQTtFQUFBLG1CQUFBO0VBQ0EsMEJBQUE7QUw0UU47QUsxUU07RUFDRSxtQkFBQTtBTDRRUjtBS3pRTTtFQUNFLGlCQUFBO0FMMlFSO0FLdlFRO0VBQ0UsbUJBQUE7QUx5UVY7O0FLbFFBO0VBRUk7SUFDRSxTQUFBO0lBQ0EsOEJBQUE7RUxvUUo7RUtsUUk7SUFDRSxlQUFBO0lBQ0EsV0FBQTtFTG9RTjtFS2xRTTtJQUNFLFNBQUE7RUxvUVI7QUFDRjtBSzlQQTtFQUVJO0lBQ0UsMEJBQUE7RUwrUEo7RUszUFE7SUFDRSxxQkFBQTtFTDZQVjtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */