@use "config";

@mixin button(
  $textColor: config.$white-color,
  $background-color: config.$secondary-color
) {
  display: inline-block;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  background: $background-color;
  color: $textColor;
  cursor: pointer;
  transition: all 400ms ease;

  &:hover {
    background: lighten($background-color, 8%);
    box-shadow: 0 1rem 1.6rem rgba(config.$black-color, 0.15);
  }
}
