@use "config";
@use "sass:color";

@mixin button(
  $textColor: config.$white-color,
  $background-color: config.$secondary-color
) {
  display: inline-block;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  background: $background-color;
  color: $textColor;
  cursor: pointer;
  transition: all 400ms ease;

  &:hover {
    background: color.adjust($background-color, $lightness: 8%);
    box-shadow: 0 1rem 1.6rem rgba(config.$black-color, 0.15);
  }
}

@mixin gradientBackground {
  background: linear-gradient(
    135deg,
    config.$primary-color,
    config.$primary-color-variant
  );
  color: config.$white-color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: config.$white-color;
  }
}
